/**{
    margin : 0;
    padding : 0;
    background-color : whitesmoke;
    z-index : 10;
}
*/
#wrapper{
    text-align : left;
    width : 95%;
    margin : 0 auto;
}
#header{
    height : 100px;
}
#container{
    width : 100%;
    float : left;
    margin-right : -180px;
}
#contents{
    width : 100%;
    float : right;
    margin-left : -180px;
}
#contents-inner{
    position : relative;
    margin : 0 200px;
    padding : 0;
}
#left-sidebar{
    width : 180px;
    height : auto;
    float : left;
    background-color : white;
}
#right-sidebar{
    width : 180px;
    height : auto;
    float : right;
    background-color : white;
}
#footer{
    clear : both;
    width : 100%;
    text-align : center;
}

.item{
    float : left;
    padding : 5px;
    width : 260px;
    height : 400px;
    overflow : hidden;
    z-index : 20;
}
.item h5{
    margin : 0;
    padding : 0;
    z-index : 30;
    border : black;
}
.title{
    padding : 5px;
    width : 250px;
    position : absolute;
    background:#000;
    color : white;
    font-size : 120%;
    font-weight : bold;
    opacity:0.6;
    filter:alpha(opacity=60);
    -ms-filter: "alpha( opacity=60 )";
    line-height : 120%;
    z-index : 40;
}
.title:hover{
    opacity:0.9;
    filter:alpha(opacity=90);
    -ms-filter: "alpha( opacity=90 )";
}
.linkimg{
    width : 100%;
    height : auto;
}
.linkimg:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
}

.item a{
    text-decoration: none;
}
img{
    border : 0;
    border-style:none;
}
#modal{
    backgroud-color : white;
    z-index : 9999;
}

#modalheader #modalmain #modalfooter{
    backgroud-color : white;
    z-index : 9999;
}

#modalclose{
    display : block;
    width : 5%;
    float : right;
}
